<html>
	<head>
		<title>Регистрация </title>
	</head>
	<link rel="stylesheet" href="/css/main.css">
	<script>
		
	</script>
	<body>
		<h1>Не авторизован</h1>
        <p>Введи код из Telegram</p>
        <input type="text" id="code" maxlength="6"></input>
		<script>
			function setCookie(name, value) {
				document.cookie = name + "=" + (value || "")+ "; path=/";
			}


			async function checkCode(code){
					let response = await fetch('/checkCode', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({ code: code })
					});
					if (!response.ok) {
							throw new Error('Network response was not ok');
						}
					let result = await response.json();

					if (result) {
						setCookie("auth",result);
						setTimeout(() => {
							window.location.reload();
						}, 150)
						return true;
					}
				};

				const textInput = document.getElementById('code');	
				textInput.addEventListener('input', async (event) => {
					const currentValue = event.target.value;
					if (currentValue.length == 6){
						const user = await checkCode(currentValue);
					}
				});
		</script>
	</body>
</html>