<html>
	<head>
		<title>Регистрация </title>
	</head>
	<link rel="stylesheet" href="/css/main.css">
	<script>
		
	</script>
	<body>
		<h1>Не авторизован</h1>
        <p>Введи код из Telegram</p>
        <input type="text" id="code"></input>
	</body>
</html>