.inputErr {
    animation: blink 0.3s infinite;
	animation-iteration-count: 3;
   }
   @keyframes blink {
    from { color: red;}
    to { color: white;}
   }
   .download{
	background-image: url(../icons/download.svg);
	width: 50px;
	height: 30px;
	border: none;
	background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	border: outset;
   }
   .restore{
	background-image: url(../icons/checkmark.svg);
	width: 40px;
	height: 40px;
	background-size: cover;
	border: none;
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	border: outset;
   }
   .restore:hover{
	background-image: url(../icons/checkmark.svg);
	background-color: #b8ebb3;
	transition-duration: 400ms;
	background-size: cover;
   }
   .delete{
	background-image: url(../icons/cross.svg);
	width: 40px;
	height: 40px;
	background-size: cover;
	border: none;
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	border: outset;
   }
   .delete:hover{
	background-image: url(../icons/cross.svg);
	background-color: #ebb3b3;
	transition-duration: 400ms;
	background-size: cover;
   }
   .promote{
	background-image: url(../icons/users.svg);
	width: 40px;
	height: 40px;
	background-size: cover;
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	border: outset;
   }
   .promote:hover{
	background-image: url(../icons/users.svg);
	background-color: #ebb3b3;
	transition-duration: 400ms;
	background-size: cover;
   }
   .demote{
	background-image: url(../icons/user.svg);
	width: 40px;
	height: 40px;
	background-size: cover;
	background-color: rgba(0,0,0,0);
	border-radius: 10px;
	border: outset;
   }
   .demote:hover{
	background-image: url(../icons/user.svg);
	background-color: #ebb3b3;
	transition-duration: 400ms;
	background-size: cover;
   }

   #users {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #users td, #users th {
	border: 1px solid #ddd;
	padding: 8px;
  }

  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #615b4d;
	color: white;
  }

p{
		margin:5px;
		text-shadow: 1px 1px 0px #aaa;
		color: black;
	}
			body {
				padding: 50px;
				font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
				background: linear-gradient(32deg, #333, #777);
			}

		input, select {
			width: 400px;
			display: block;
			height: calc(2.25rem + 2px);
			padding: 0.375rem 0.75rem;
			font-family: inherit;
			font-size: 1rem;
			font-weight: 400;
			background-color: #fff;
			background-clip: padding-box;
			border: 2px solid #bdbdbd;
			border-radius: 0.5rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		}

		input::placeholder {
			margin: 5px;
			color: #212529;
			opacity: 0.4;
		}
		select::placeholder {
			color: #212529;
			opacity: 0.4;
		}
		h1{
			margin: 0px;
			text-shadow: 3px 2px 0px black;
			color: white;
		}
		h3 {
			text-shadow: 1px 2px 0px black;
			color: white;
		margin-bottom: 0px;}
		.submit{
		  position: relative;
		  display: inline-block;
		  font-size: 90%;
		  font-weight: 700;
		  color: rgb(209,209,217);
		  text-decoration: none;
		  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
		  padding: .5em 1em;
		  outline: none;
		  border-radius: 3px;
		  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
		  box-shadow:
		  0 1px rgba(255,255,255,.2) inset,
		  0 3px 5px rgba(0,1,6,.5),
		  0 0 1px 1px rgba(0,1,6,.2);
		  transition: .2s ease-in-out;
		}
		.submit:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
.area{
	padding: 20px;
	margin-top: 20px;
	min-width: 80%;
	min-height: 50%;
	background: #fff;
}